<div id="background">
  <header class="cf">
    <div class="wrapper_wide">
      <%= link_to "MentorBuddy", root_path, id: "logo" %>
      <nav>
        <ul>
          <% unless university_signed_in? %>
            <li><%= link_to "Explore", universities_path %></li>
            <li><%= link_to "Sign In", new_university_session_path %></li>
            <li><%= link_to "Add your University", new_university_registration_path %></li>
          <% else %>
            <li><a href="#">Dashboard</a></li>
            <li><%= link_to "Explore", universities_path %></li>
            <li><%= link_to "Sign Out", destroy_university_session_path, method: :delete %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
  <div class="wrapper_skinny">
    <h1>Discover mentors from your<span class="responsive_break"> future university</span></h1>
    <%= link_to "Add your University", new_university_registration_path, class: "button button_highlight" %>
    <%= link_to "Explore", universities_path, class: "button button_white" %>
  </div>
</div>
